*{
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	box-sizing: border-box;
}
.box{
	width: 100%;
	height: 100vh;
	background: #ffe3e3;
	display: flex;
	align-items: center;
	justify-content: center;
	position:relative;
}
.box img{
	width: 75%;
}
.box h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:rgb(0, 0, 0);
	font-size: 90px;
	font-weight: 500;
	letter-spacing: 3px;
}
.quotes{
	width: 100%;
	position: absolute;
	text-align: center;
	top: 30%;
	color: rgb(255, 255, 255);
	font-size: 50px;
	font-weight: 600;
}
.quotes h2{
	font-size: 45px;
	margin-top: 10px;
	font-weight: 500;
}


*{
    margin: 0;
    padding: 0;
}

    .main{
        width: 100%;
        background:url(divback.jpg);
        background-position:center;
        background-size: cover;
        height: 109vh;
    }
    .container{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:400px;
        padding: 40px;
        background: rgba(0, 0, 0, 0.384);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.5);
        border-radius: 10px;
    }
    .main .container h1{
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    .main .container .inputBox{
        position: relative;
    }
    .main .container .inputBox input
    {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent; 
    }
    .main .container .inputBox label{
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5%;
    }
    .main .container .inputBox input:focus ~ label,
    .main .container .inputBox input:valid ~ label
    {
        top: -20px;
        left: 0;
        color: #03a9f4;
        font-size: 12px;
    }
    .container input[type="submit"]{
        background:transparent ;
        border: none;
        outline: none;
        color: #fff;
        background: #03a9f4;
        padding: 10px 20px;
        cursor:pointer ;
        border-radius: 5px;
    }
    .output{
        width: 100%;
        background:url(divv1.jpg);
        background-position:center;
        background-size: cover;
        height: 109vh;
    }
    .output input[type="submit1"]{
        background:transparent ;
        border: none;
        outline: none;
        color: #fff;
        background: #03a9f4;
        padding: 10px 20px;
        cursor:pointer ;
        border-radius: 5px;
    }
    .box .login .submit{
        background:transparent ;
        border-color: rgb(0, 0, 0) ;
        outline: none;
        color: #000000;
        background: transparent;
        padding: 10px 20px;
        cursor:pointer ;
        border-radius: 5px;
        border-style: solid;
        text-align: center;
    }

